<div class="container">

<% PublicActivity::Activity.all.each do |activity| %>

	<div class="row">
	<%= activity.owner.email %> 


	<%= activity.key.split(".").last %> 

	<% if activity.recipient_type %>

	<%= activity.recipient.title %>

	<% else %>

	<%= activity.trackable.title %>

	<% end %>

	</div>

<% end %>

</div>