  <div class='container'>
    <footer>
      <p>&copy Funstagram 2k14</p>
    </footer>
    <% if user_signed_in? %>
    	<%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'btn btn-warning' %>
    <% end %>
  </div> <!-- /container -->